.carousel-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    margin-top: 20px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide iframe {
    width: 100%;
    min-height: 450px;
    border: none;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-item a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #E1306C;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
}
